@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* Custom class for Lora font */
.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
}

h1 {
  @apply lora-font;
  font-style: normal;
}

/* In your global CSS file (e.g., styles/globals.css) */
@media (min-width: 640px) {
  .navlinks a::after {
    content: '';
    display: block;
    width: 0%;
    height: 0.15rem;
    background: linear-gradient(to right, rgb(34, 128, 156), rgb(107, 107, 107));
    transition: width 0.2s;
  }

  .navlinks a:hover::after,
  .navlinks a.active::after {
    width: 100%;
    color: black;
  }
}



:root {
  --navbar-height: 80px; /* Adjust this value to match your navbar height */
}

.h-screen-navbar {
  height: calc(100vh - var(--navbar-height));
}

